
{% extends "base.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="/../../static/css/resetConfirm.css">
    <title>Reset your password</title>
</head>
{% if validlink %}

<div class="main">
    <p class="sign" align="center">Set a new password</p>

    <form class="form1" method="POST" id="signup-form" style="padding-left: 30px;">
        {% csrf_token %}
        {{ form.as_p }}
        <input  type="submit" align="center" value="Change Password" class="submit">
    </form>
</div>

{% else %}
    <div class="main">
        <p class="sign" align="center">Invalid password reset link<br>please request a new one</p>
    </div>
{% endif %}
{% endblock %}