{% extends "base.html"%}
{% block content %}
<head>
  <link rel="stylesheet" href="/../../static/css/signup.css">
  <title>Sign up</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Sign up</p>
            <form class="form1" method="POST" id="signup-form">
                {% csrf_token %}
                {{form.username}}
                {{form.email}}
                {{form.password1}}
                {{form.password2}}
                <input type="submit" value="Sign Up" class="submit" align="center">
                <p class="signUp" align="center">Already have an account? <a href="{% url 'login' %}">Log in!</a></p>
            </form>
    </div>
</body>
{% endblock %}