<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Green Master :: Submit</title>

    <link rel="stylesheet" href="../../static/css/stylev2.css">


    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="logo2">
        <img src="../../static/images/Slice 1.png"> 
    </div>
        

    <div class="s-mainWrapper">

        <div class="menu-wrap">
                    
                <input type="checkbox" class="toggler">
                    
                <div class="hamburger">
                    <div>
                    </div>
                </div>
                    
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                              <li><a href="{% url 'homepage' %}">home</a></li>
                              <li><a href="{% url 'submission' %}">submission</a></li>
                              <li><a href="{% url 'leaderboard' %}">leaderboard</a></li>
                              <li><a href="{% url 'login' %}">login/signup</a></li>
                              <li><a href="{% url 'logout' %}">logout</a></li>
                              <li><a href="{% url 'privacypolicy' %}">privacy policy</a></li>
                              <li><a href="{% url 'about' %}">about</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

        </div>

        <div class="submissionBx-h">
            <div class="submissionTxt-h">
                Submission
            </div>
            <div class="submissionSubTxt-h">
                Submit your report 
            </div>
        </div>

        

        <div class="subBx">
            
            <div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-danger" role="alert" align="center">
                <script>
                alert("{{ message }}");
                </script>
            </div>
            <p>Please Try Again When on Campus</p>
            <a href="{% url 'homepage' %}">Return to homepage</a>
            {% endfor %}
        
            {% else %}
        
                <form class="form1" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class = "submitbtn" type="submit">Upload</button>
                </form>
            
                {{message}}
        
            {% endif %}
            </div>

            
        </div>

    <div class="logo3">
        <img src="../../static/images/gfx1.png"> 
    </div>
     

    <script src="main.js"></script>

</body>
</html>