{% if user.is_authenticated %}
  <html>
    <head>
    <link rel="stylesheet" href="/../../static/css/resetDone.css">
    <title>Password Reset Complete</title>
</head>
    <body>
  <!-- HTML template to enable logged in users to submit an image -->
  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-danger" role="alert" align="center">
          <script>
            alert("{{ message }}");
          </script>
        </div>

         <div class="main">
        <p class="sign" align="center">Please Try Again When on Campus</p>
        <form class="form1" method="POST" id="signup-form">
            <p class="signUp" align="center"><a href="{% url 'homepage' %}">Back to homepage.</a></p>
        </form>
      </div>

      {% endfor %}

  {% else %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    {{message}}
      
    {% if img_obj %}
    <!-- Displays the image to the user if it has been uploaded successfully -->
      <h3>Succesfully uploaded : {{img_obj.title}}</h3>
      <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}

  {% endif %}
{% else %}
  <p>Please Login to Submit Room</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
  </body>
</html>