{% extends 'loginApp/base.html' %}
{% block content %}
<html>

<head>
  <link rel="stylesheet" href="/../../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" action=""  method=POST>
        {% csrf_token %}
      <input class="un " type="text" align="center" name="username" placeholder="Username" aria-describedby="emailHelp">
      <input class="pass" type="password" align="center" name="password" placeholder="Password">

      <input type="submit" value="submit" class="submit" align="center">


        <p class="forgot" onclick="myFunction()" align="center"><a href="#">Forgot Password?</a></p>
      <script>
        function myFunction() {
        alert("Unlucky Mate!");
            }
        </script>
    </form>
    </div>
     
</body>

</html>
{% endblock%}