<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Green Master :: Home</title>

    <link rel="stylesheet" href="../../static/css/stylev2.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="gfxhead">
        <img src="../../static/images/gfx2.png"> 
    </div>

    <div class="logo2">
        <img src="../../static/images\Slice 1.png"> 
    </div>

    
        
        

    
    <div class="d-mainWrapper">

        <div class="menu-wrap">
                    
                <input type="checkbox" class="toggler">
                    
                <div class="hamburger">
                    <div>
                    </div>
                </div>
                    
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="{% url 'homepage' %}">home</a></li>
                                <li><a href="{% url 'submission' %}">submission</a></li>
                                <li><a href="{% url 'leaderboard' %}">leaderboard</a></li>
                                <li><a href="{% url 'login' %}">login/signup</a></li>
                                <li><a href="{% url 'logout' %}">logout</a></li>
                                <li><a href="{% url 'privacypolicy' %}">privacy policy</a></li>
                                <li><a href="{% url 'about' %}">about</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

        </div>

        <div class="aboutBx-h">
            <div class="aboutTxt-h">
                About Us
            </div>
            <div class="aboutSubTxt-h">
                Saving the planet one submission at a time
            </div>
        </div>

        <div class="aboutBx">

            <div class="about-h">
                Our Ethos
            </div>

            <div class="about-txt">
                
                <p>
                    At our sustainability app for the University of Exeter, our 
                    ethos is centered around creating a better future for both 
                    the university and the planet. We believe that every small 
                    action can make a big impact, and it is up to us as a 
                    community to work together towards a sustainable future.
                </p>
                <br>
                <p>
                    We strive to promote awareness and education about sustainable 
                    practices, empowering individuals to make informed decisions 
                    that positively impact the environment. Our app provides 
                    easy-to-use tools and resources to help users reduce 
                    their carbon footprint, conserve energy and water, 
                    and minimize waste.

                </p>
                <br>
                <p>
                    We are committed to creating a culture of sustainability 
                    on campus by partnering with local businesses, organizations,
                     and student groups to promote eco-friendly initiatives and 
                     practices. We believe in the power of collaboration and 
                     recognize that sustainable change requires a collective effort.

                </p>
                <br>
                <p>
                    As a sustainability app, we are dedicated to transparency and 
                    accountability. We are constantly striving to improve our 
                    own sustainability practices and to make our app more 
                    user-friendly and accessible. We value feedback from 
                    our users and are always open to suggestions for 
                    improvement.

                </p>
                <br>
                <p>
                    Ultimately, our goal is to create a more sustainable future 
                    for the University of Exeter and beyond. By working 
                    together, we can make a positive impact on the 
                    environment and create a better world for future 
                    generations.

                </p>



            </div>

        </div>
        
    
        

    <script src="../../static/js/main.js"></script>

</body>

</html>