<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Green Master : Dashboard </title>

    <link rel="stylesheet" href="../../static/css/stylev2.css">
    <link rel="stylesheet" href="/../../static/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap" rel="stylesheet">
    
</head>

<body>


    <div class="logo2">
        <img src="../../static/images\Slice 1.png"> 
    </div>
        

    
    <div class="i-mainWrapper">

        <div class="menu-wrap">
                    
                <input type="checkbox" class="toggler">
                    
                <div class="hamburger">
                    <div>
                    </div>
                </div>
                    
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="{% url 'homepage' %}">home</a></li>
                                <li><a href="{% url 'submission' %}">submission</a></li>
                                <li><a href="{% url 'leaderboard' %}">leaderboard</a></li>
                                <li><a href="{% url 'login' %}">login/signup</a></li>
                                <li><a href="{% url 'logout' %}">logout</a></li>
                                <li><a href="{% url 'privacypolicy' %}">privacy policy</a></li>
                                <li><a href="{% url 'about' %}">about</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

        </div>

        <div class="welcomeBx">
            <div class="welcomeBx2">
                <div class="welcomeTxt">
                    <p>Welcome</p>
                    <p><wa>Green Champion</wa></p>
                </div>

                <div class="welcomeSubTxt">
                    <p>
                        Are you ready to change the world ? 
                    </p>
                    <p>
                        sign up now
                    </p>
                </div>
            </div>

            <div class="signupBx">

                <div class="main">
                    <p class="sign" align="center">Sign in</p>
                
                    <form class="form1" action=""  method=POST>
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger" role="alert" align="center">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                
                        <input class="un " type="text" align="center" name="username" placeholder="Username" aria-describedby="emailHelp">
                        <input class="pass" type="password" align="center" name="password" placeholder="Password">
                        <input type="submit" value="submit" class="submit" align="center">
                        <p class="forgot"  align="center"><a href="http://127.0.0.1:8000/accounts/password_reset/">Forgot Password?</a></p>
                        <p class="signUp"  align="center">Dont have an account? <a href="{% url 'signup' %}">Sign Up!</a></p>
                    </form>
                </div>

            </div>     

                
        </div>

            
    </div>
        
    
        

    <script src="main.js"></script>


    <!--

    <div class="menu-wrap">
        
        <input type="checkbox" class="toggler">
        
        <div class="hamburger">
            <div>
            </div>
        </div>
        
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="{% url 'homepage' %}">HOlol</a></li>
                        <li><a href="{% url 'submission' %}">SUBMISSION</a></li>
                        <li><a href="{% url 'leaderboard' %}">LEADERBOARD</a></li>
                        <li><a href="{% url 'myprofile' %}">MY PROFILE</a></li>
                        <li><a href="{% url 'login' %}">LOGIN/SIGNUP</a></li>
                        <li><a href="{% url 'logout' %}">LOGOUT</a></li>
                        <li><a href="{% url 'privacypolicy' %}">PRIVACY POLICY</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <div class="s-mainWrapper">

        <div class="topBarBx">

            <div class="topLogo">

                <img src="../../static/images/logo.png">

            </div>

        </div>



        <div class="footerBx">

        </div>

    </div>

    <script src="./main.js"></script>

-->

</body>

</html>