<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Green Master : Dashboard </title>

    <link rel="stylesheet" href="../../static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="menu-wrap">
        
        <input type="checkbox" class="toggler">
        
        <div class="hamburger">
            <div>
            </div>
        </div>
        
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="{% url 'homepage' %}">HOME</a></li>
                        <li><a href="{% url 'submission' %}">SUBMISSION</a></li>
                        <li><a href="{% url 'leaderboard' %}">LEADERBOARD</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <div class="s-mainWrapper">

        <div class="topBarBx">

            <div class="topLogo">

                <img src="../../static/images/logo.png">

            </div>

        </div>



        <div class="footerBx">

        </div>

    </div>

    <script src="./main.js"></script>

</body>

</html>