<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap" rel="stylesheet">


    <title>Green Master : Leaderboard</title>
</head>



<body>

    <div class="menu-wrap">
        
        <input type="checkbox" class="toggler">
        
        <div class="hamburger">
            <div>
            </div>
        </div>
        
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="{% url 'index' %}">HOME</a></li>
                        <li><a href="{% url 'submission' %}">SUBMISSION</a></li>
                        <li><a href="{% url 'leaderboard' %}">LEADERBOARD</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <div id="oc_main">

        <div id="ic_topbar">

            <div id="ic_logo">
                <img src="logo.png">
            </div>

        </div>

        <div id="ic_header">

            <div id="title_box">
                
                <div class="title">

                    <p> Leaderboard </p>

                </div>
                <div class="subtitle">

                    <p> all hail your Exeter sustainability champions ...</p>

                </div>

            </div>

        </div>

        <div id="ic_topwinners">
            
            <div id="player_card_2nd">

                <div id="player_icon">
                    <img src="user.png">
                </div>

                <div id="player_place">
                    <img src="2nd-place.png">
                </div>

                <div id="ic_points">

                    <div class="player_name_top">
                        <p><k>Red</k> Beard</p>
                    </div>

                    <div class="points_title">
                        <p>Points</p>
                    </div>

                    <div class="points">
                        <p> 1500 </p>
                    </div>

                </div>

            </div>

            <div id="player_card_1st">

                <div id="player_icon">
                    <img src="user.png">
                </div>

                <div id="player_place">
                    <img src="1st-place.png">
                </div>

                <div id="ic_points">

                    <div class="player_name_top">
                        <p><k>Fortune</k> Cookie</p>
                    </div>

                    <div class="points_title">
                        <p>Points</p>
                    </div>

                    <div class="points">
                        <p> 4500 </p>
                    </div>

                </div>

            </div>

            <div id="player_card_3rd">
                
                <div id="player_icon">
                    <img src="user.png">
                </div>

                <div id="player_place">
                    <img src="3rd-place.png">
                </div>

                

                <div id="ic_points">

                    <div class="player_name_top">
                        <p><k>Baguette</k> Iced</p>
                    </div>

                    <div class="points_title">
                        <p>Points</p>
                    </div>

                    <div class="points">
                        <p> 750 </p>
                    </div>

                </div>

            </div>

        </div>

        <div id="ic_otherplayers">

            <div id="player_card_other">

                <div class="player_rank">
                    <p>#4</p>
                </div>
                
                <div id="player_icon_small">
                    <img src="user.png">
                </div>

                <div class="player_name">
                    <p><k>Cherry</k> Blossom</p>
                </div>

                <div id="ic_points2">

                    <div class="points">
                        <p> 250 <z>points</z></p>
                    </div>

                </div>

            </div>

            <div id="player_card_other">

                <div class="player_rank">
                    <p>#5</p>
                </div>
                
                <div id="player_icon_small">
                    <img src="user.png">
                </div>

                <div class="player_name">
                    <p><k>Green</k> Twig</p>
                </div>

                <div id="ic_points2">

                    <div class="points">
                        <p> 150 <z>points</z></p>
                    </div>

                </div>

            </div>

            <div id="player_card_other">

                <div class="player_rank">
                    <p>#6</p>
                </div>
                
                <div id="player_icon_small">
                    <img src="user.png">
                </div>

                <div class="player_name">
                    <p><k>Ultimate </k>Stones</p>
                </div>

                <div id="ic_points2">

                    <div class="points">
                        <p> 100 <z>points</z></p>
                    </div>

                </div>

            </div>
            
            <div id="player_card_other">

                <div class="player_rank">
                    <p>#7</p>
                </div>
                
                <div id="player_icon_small">
                    <img src="user.png">
                </div>

                <div class="player_name">
                    <p><k>Paper </k>Vase</p>
                </div>

                <div id="ic_points2">

                    <div class="points">
                        <p> 78 <z>points</z></p>
                    </div>

                </div>

            </div>
            
            
            <div id="player_card_other">

                <div class="player_rank">
                    <p>#8</p>
                </div>
                
                <div id="player_icon_small">
                    <img src="user.png">
                </div>

                <div class="player_name">
                    <p><k>Nitro </k>Rollover</p>
                </div>

                <div id="ic_points2">

                    <div class="points">
                        <p> 53 <z>points</z></p>
                    </div>

                </div>

            </div>
            
            
            <div id="player_card_other">

                <div class="player_rank">
                    <p>#9</p>
                </div>
                
                <div id="player_icon_small">
                    <img src="user.png">
                </div>

                <div class="player_name">
                    <p><k>Neutral </k>Waterfall</p>
                </div>

                <div id="ic_points2">

                    <div class="points">
                        <p> 42 <z>points</z></p>
                    </div>

                </div>

            </div>
            
            
            <div id="player_card_other">

                <div class="player_rank">
                    <p>#10</p>
                </div>
                
                <div id="player_icon_small">
                    <img src="user.png">
                </div>

                <div class="player_name">
                    <p><k>Bakoona </k>Grave</p>
                </div>

                <div id="ic_points2">

                    <div class="points">
                        <p> 34 <z>points</z></p>
                    </div>

                </div>

            </div>
            
            
        </div>

        <div class="footerBx">

        </div>
    </div>





</body>



</html>