<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Green Master : Dashboard </title>

    <link rel="stylesheet" href="../../static/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap" rel="stylesheet">
    
</head>

<body>

    <div class="menu-wrap">
        
        <input type="checkbox" class="toggler">
        
        <div class="hamburger">
            <div>
            </div>
        </div>
        
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="{% url 'homepage' %}">HOME</a></li>
                        <li><a href="{% url 'submission' %}">SUBMISSION</a></li>
                        <li><a href="{% url 'leaderboard' %}">LEADERBOARD</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <div class="s-mainWrapper">

        <div class="topBarBx">

            <div class="topLogo">

                <img src="../../static/images/logo.png">

            </div>

        </div>

        <div class="userBarBx">

            <div class="userBar">
                <k>Cherry</k> Blossom
            </div>

        </div>

        <div class="submissionBx">

            <div class="fileDrop">

                <span class="fileDropPrompt">
                    Drop photo or click to upload
                </span>
                <input type="file" name="subFile" class="fileInput">

            </div>

        </div>

        <div class="mapBx">

            <img class="map" src="../../static/images/map.png">

        </div>

        <div class="logBx">

            <div class="logText">
                Your Submission Log ...
            </div>

            <div class="log">
                Submitted 21-06-2023 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <g>Image-46252734949595.jpeg</g> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f>Successful</f>
            </div>

            <div class="log">
                Submitted 16-06-2023 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <g>Webpage-link-to-home.html</g> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f>Failed</f>
            </div>

            <div class="log">
                Submitted 04-04-2023 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <g>Image-2532797697967.jpeg</g> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f>Successful</f>
            </div>

            <div class="log">
                Submitted 03-04-2023 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <g>Image-2328089889956.jpeg</g> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f>Successful</f>
            </div>

            <div class="log">
                Submitted 31-03-2023 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <g>Image-0943968394.jpeg</g> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <f>Successful</f>
            </div>

        </div>

        <div class="footerBx">

        </div>

    </div>

    <script src="./main.js"></script>

</body>

</html>