<!DOCTYPE html>
{% load has_group %}
{% if request.user|has_group:"Gamekeeper"%}

<html>
<head>
  <link rel="stylesheet" href="/../../static/css/gkHomepage.css">
</head>
<body>
    <div class="imageshowcase">
        <div class="theader">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <i class="fa fa-comments" aria-hidden="true"></i>
        <div class="tlogo">
        <img src="/../../static/images/logo.png" alt="Logo" title="Logo" />
        </div>
    </div>
  <div class="tbgwrap">
    <div class="image">

            <p>{{ images.0.building }} Room {{ images.0.room }} </p>

        <div class="tname">{{ images.0.user }}, <span class="date">{{ images.0.date }}</span></div>
        <img src="/../../media/{{ images.0.image }}" alt="test" class="center"/>

      <div class="tinfo"><i class="fa fa-book" aria-hidden="true"> 0</i><i class="fa fa-users" aria-hidden="true"> 0</i></div>
    </div>
    <div class="tcontrols" >
        <form action="" method="post">
        {% csrf_token %}

      <button class = "action_btn_accept" name="action_btn_accept" type="submit" value="{{ current_id }}" onclick="myFunction()">Accept</button>
        <button class = "action_btn_delete" name="action_btn_delete" type="submit" value="{{ current_id }}" onclick="myFunction2()">Decline</button>
        <button class = "action_btn_report" name="action_btn_report" type="submit" value="{{ current_id }}" onclick="myFunction3()">Report</button>

        </form>
        <p class="forgot"  align="center"><a href="http://127.0.0.1:8000/accounts/gkSignUp/">Create New Account</a></p>
        </div>
    </div>
    </div>
</body>
    </html>
{% else %}

    <html>
    <head>
        <title>you are not a gamekeeper</title>
     <meta charset="UTF-8" />
     <meta http-equiv="refresh" content="0; URL=http://127.0.0.1:8000" />
   </head>
</html>
{% endif %}
