{% extends 'leaderboard/base.html' %}

{% block content %}
<div class="container">
    <h1>Leaderboard</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- Defines columns for the users rank, name and score-->
                <th>Rank</th>
                <th>Player Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loops through each row in the leaderboard database and
            displays each value in a cell in the table.-->
            {% for entry in leaderboard %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ entry.username }}</td>
                <td>{{ entry.points }}</td>
            </tr>
            {% empty %}
            <tr>
                <!-- Defines a three column wide message that is displayed if
                the leaderboard is empty-->
                <td colspan="3">No entries yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
