{% extends "base.html"%}
{% block content %}
<head>
  <link rel="stylesheet" href="/../../static/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sign in</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Sign up</p>
            <form class="form1" action=""  method=POST>
                {% csrf_token %}
                <input class="un " type="text" align="center" name="username" placeholder="Username" aria-describedby="emailHelp">
                <input class="pass" type="password" align="center" name="password" placeholder="Password">
                <input class="pass" type="password" align="center" name="password" placeholder="Confirm password">
                <input type="submit" value="Sign Up" class="submit" align="center">
                <p class="signUp" align="center">Already have an account? <a href="{% url 'login' %}">Log in!</a></p>
            </form>
    </div>
</body>
{% endblock %}