{% extends 'base.html' %}
{% block content %}
<html>

<head>
  <link rel="stylesheet" href="/../../static/css/login.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign in</p>

    <form class="form1" action=""  method=POST>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <input class="un " type="text" align="center" name="username" placeholder="Username" aria-describedby="emailHelp">
        <input class="pass" type="password" align="center" name="password" placeholder="Password">
        <input type="submit" value="submit" class="submit" align="center">
        <p class="forgot"  align="center"><a href="http://127.0.0.1:8000/accounts/password_reset/">Forgot Password?</a></p>
        <p class="signUp"  align="center">Dont have an account? <a href="{% url 'signup' %}">Sign Up!</a></p>
    </form>
    </div>
</body>
</html>
{% endblock%}