
{% extends "base.html"%}
{% block content %}
<head>
  <link rel="stylesheet" href="/../../static/css/resetDone.css">
  <title>Email Sent</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Reset your password</p>
        <p align="center">You've been emailed instructions for resetting your password, you
        should receive it shortly!</p>

         <form class="form1" method="POST" id="signup-form">
                 <p class="signUp" align="center"><a href="{% url 'login' %}">Back to start</a></p>
            </form>
    </div>
</body>
{% endblock %}