
{% extends "base.html"%}
{% block content %}
<head>
  <link rel="stylesheet" href="/../../static/css/reset.css">
  <title>Reset your password</title>
</head>

<body>
    <div class="main">
        <p class="sign" align="center">Reset your password</p>
        <p align="center">Enter your email address below, and you'll be sent instructions for resetting your password</p>
            <form class="form1" method="POST" id="signup-form">
                {% csrf_token %}
                <input class="un" type="text" align="center" name="email" placeholder="Email">
                <input  type="submit" align="center" value="Send instructions!" class="submit" >
            </form>
    </div>
</body>
{% endblock %}