{% extends 'base.html' %}
{% block content %}
<html>

<head>
  <link rel="stylesheet" href="/../../static/css/privacypolicy.css">
  <title>Privacy Policy</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Our Privacy Policy</p>

    <p>1. <b>User Data Collection and Purposes Behind it</b>: To use this service you are required to create an account, during this process you will provide us with some basic data personal data. Additionally, when sending us any correspondence we may obtain personally identifiable information. This basic personal data, including: your email; first name; surname and the password you use when you create an account, is only collected and stored for the purposes of validating your identity and preventing users from creating multiple accounts and thus gaming the system. In addition to this, we collect your IP address, with the sole aim of maintaining the integrity of the project by ensuring that a user can only submit a photo from campus. </p>

    <p>2. <b>Data processing, Storage and Sharing</b>: Data stored by this project has never and will never be shared with third parties. Furthermore, data is stored on databases that are both hosted on servers and held on the local machines of developers. In addendum our service has minimal data processing, only processing personal data during the sign up, login, password reset, photo submission and leaderboard display.</p>

    <p>3. <b>Data Retention and Deletion</b>: The data collected in accordance with section 1 is retained until the user deletes their account or submits a formal request (see section 4) to remove any data stored about them. When this happens, any instances of the data is deleted from all local machines and servers where it is stored.</p>
    <p> At a later date, features may be added to remove and delete user data after a given period of inactivity with the account, or after upon the expiration of their exeter.ac.uk.</p>

    <p> Data is not retained for any period after deletion.</p>

    <p>4. <b>User Data Rights and How to Exercise Them</b>: As stated on the <a href="https://www.gov.uk/data-protection"> UK government website</a>, under the Data Protection Act 2018, your rights include the following: </p>
    <ol>
      - Be informed about how your data is being used
      access personal data <br>
      
      - Have incorrect data updated <br>
      
      - Have data erased <br>

      - Stop or restrict the processing of your data <br>

      - Data portability (allowing you to get and reuse your data for different services) <br>

      - Object to how your data is processed in certain circumstances <br><br>

      You also have rights when an organisation is using your personal data for: <br> <br>
      <ol>
        - Automated decision-making processes (without human involvement)<br>
      
      - Profiling, for example to predict your behaviour or interests
      </ol>
    </ol>

    <p> Under the UK General Data Protection Regulation (UK GDPR), the lawful bases we rely on for processing this information are:</p>
      <ol>
        (a) Your consent. You are able to remove your consent at any time. You can do this by contacting the address(es) provided in section  7.<br>
        (b) We have a legitimate interest.
      </ol>

    <p> Should you choose to exercise any of these rights, you can send an email to one of the address(es) provided in section 7. From the point you send the email there will be a maximum of a two-week turnaround to exercise your request, should it be a valid.</p>

    <p>5. <b>Submitting a Complaint</b>: If you have a complaint you would like to file, it can be sent in email to one of the address(es) provided in the section 7.</p>

    <p>You can also complain to the ICO if you are unhappy with how we have used your data.
      <ol>The ICO’s address:<br>
        <ol>
          Information Commissioner’s Office <br>
          Wycliffe House<br>
          Water Lane<br>
          Wilmslow<br>
          Cheshire<br>
          SK9 5AF<br> <br>
      </ol>     
      
      Helpline number: 0303 123 1113 <br>
      <a href="https://www.ico.org.uk">ICO website</a>
      </ol>
      </p>

    <p>6. <b>Future changes</b>: Any changes to this privacy policy will be detailed to you via email, with at least two weeks' notice being provided. Furthermore, should you decide you no longer want to use the project within this window, you can have your account and information deleted with no delay. </p>

    <p>7. <b>Contact Information</b>: Any correspondence relating to the project should be forwarded to the email address below, and we will endeavour  to respond in a timely manner:</p>
      <ol>
        <p> Ben Theron: bct207@exeter.ac.uk</p>
      </ol>
    <p> GDPR Compliance:</p>
    <ol>
      <p>Lawful basis and transparency</p>
      <p>Data security</p>
      <p>Accountability and Governance</p>
      <p>Privacy Rights</p>
    </ol>
    </div>
</body>
</html>
{% endblock%}