<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Green Master :: Home</title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;800&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="gfxhead">
        <img src="img\gfx2.png"> 
    </div>

    <div class="logo2">
        <img src="img\Slice 1.png"> 
    </div>

    
        
        

    
    <div class="d-mainWrapper">

        <div class="menu-wrap">
                    
                <input type="checkbox" class="toggler">
                    
                <div class="hamburger">
                    <div>
                    </div>
                </div>
                    
                <div class="menu">
                    <div>
                        <div>
                            <ul>
                                <li><a href="{% url 'about' %}">about</a></li>
                                <li><a href="{% url 'submission' %}">dashboard</a></li>
                                <li><a href="{% url 'leaderboard' %}">leaderboard</a></li>
                                <li><a href="{% url 'leaderboard' %}">submission</a></li>
                                <li><a href="{% url 'leaderboard' %}">maps</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

        </div>

        <div class="dashboardBx-h">
            <div class="dashboardTxt-h">
                Your Dashboard
            </div>
        </div>

        <div class="usericonBx">
            <img src="img\user.png">
        </div>

        <div class="userdataBx">
            <div class="userdataname">
                Chery Bloom
            </div>

            <div class="userdatapts">
                <z>Points</z> &nbsp;&nbsp;&nbsp; 2305
            </div>
        </div>

        <div class="userbuttonBx1">
            <button class="userbtn" type="button">
                <div class="btnimg">
                    <img src="img\apply.png"> 
                </div>
            </button>
            <p class="userbtnTxt">submit</p>
        </div>
        <div class="userbuttonBx2">
            <button class="userbtn" type="button">
                <div class="btnimg">
                    <img src="img\leaderboard.png"> 
                </div>
            </button>
            <p class="userbtnTxt">leaderboard</p>
        </div>
        
        <div class="userbuttonBx3">
            <button class="userbtn" type="button"> 
                <div class="btnimg">
                    <img src="img\log.png"> 
                </div>
            </button>
            <p class="userbtnTxt">view logs</p>
        </div>
        

        <div class="notificationBx">
            <div class="notificationTtl">
                Notification Hub
            </div>
        </div>

        <div class="notifBx1">

            <div class="promoBx1">

                <div class="promoTxt-Ttl ">
                    Star Tip ...
                </div>

                <div class="promoTxt-subTtl ">

                    Want more points? Find the least targeted spots on campus
                    
                </div>

                <div class="link ">
                    Go to Maps =>
                </div>

            </div>

        </div>

        <div class="notifBx2">
            
            <div class="promoBx2">
            
                <div class="promoTxt-Ttl ">
                    Make your Carbon Footprint 0
                </div>

                <div class="promoTxt-subTtl ">

                    <p>Did you know?</p> 
                    <p>Paper Production Contributes to Carbon Emissions</p>
                        
                </div>

                <div class="link ">
                    Learn More =>
                </div>
                            
            </div>

        </div>
            

    </div>
        
    
        

    <script src="main.js"></script>

</body>

</html>